<!-- Biografia Section -->
    <section id="biografia">
        <div class="bg-png">
            <div class="row "><br><br><br>
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Biografía</h2>
                    <!--h3 class="section-subheading text-muted">~1 Year of Experience doing:</h3-->
Licenciado en Educación Musical por Rockschool Reino Unido, Diploma en Guitar Performance y Grado 8 en Popular Music Theory, todo ello con calificación de Merit.
<br><br>
Grado 5 en Guitarra Acústica con Distinction (máxima calificación) y cursando el Grado 8 actualmente.
<br><br>
Ha compartido escenario y grabado con Maret (Factor X), Tourdeluxe Band, Cuenta Atrás, Alejandro Rivera, Carlos Chaouen, Alberto Alcalá, Mar de Fondo, El Kanka, Alfonso Salas, etc.
<br><br>
Finalista dos años consecutivos en el Certamen Nacional de Cantautores “Ciudad de Melilla”. Actualmente está grabando su segundo disco en solitario con Miguel Lamas y Octavio Vargas.
<br><br><br><br>
               </div>
            </div>
        </div>
    </section>
