<!-- Inicio Section -->
<section id="inicio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Inicio</h2>
                <!--h3 class="section-subheading text-muted">About the Research Group</h3-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Guitarrista, profesor de guitarra, compositor.
                </p>
                <p>
                    Materiales didácticos / cursos intensivos: <a href="#contact" style="background-color: #303030;">¿Quieres info? ¡Pincha aquí!</a>
                </p>
            </div>
        </div>
    </div>
</section>
